/* Create two equal columns that floats next to each other */
.column {
    box-sizing: border-box;
  }
.column {
    float: right;
    width: 30%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  
  .row {
    content: "";
    display: table;
    clear: both;
  }
   