.container {
    display: grid;
    height: auto;
    margin: 0 auto;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "header header header header"
    "aside content content content"
    "footer footer footer footer"
    ;
}

header,
aside,
main,
footer {
    padding: 20px;
}

header {
    grid-area: header;
    text-align: center;
    height: 140px;
    font-family: 'Alien-encounters', Consolas, 'Courier New', monospace;
    font-size: 70px;
    color: white;
    background-image: url("../img/backgroundheader.png");
}


main {
    grid-area: content;
    margin-left: 10px;
    float: right;
    height: auto;
    width: auto;

    text-align: left;
    font-size: 30px;
    font-family: verdana;
}

aside {
    grid-area: aside;
    float: left;
    height: auto;
    width: auto;
    font-size: 20px;
    font-family: verdana;
    border-right: 1px dotted black;
}


footer {
    grid-area: footer;
    background-image: url("../img/backgroundheader.png");
    height: 100px;
    color: white;
    font-family: 'Alien-encounters', Consolas, 'Courier New', monospace;
    text-align: center;
}

#sidebar-nav {
    font-family: verdana;
}

#sidebar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

#sidebar-nav ul li a {
    padding: 8px 16px;
    display: block;
}

#sidebar-nav li a:hover {
    background-color: rgb(8, 8, 78);
    color: white;

}

h1 {
    font-style: italic;
    font-size: 30px;
}

label,
input,
textarea {
    width: 60%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-family: verdana;   
}


input[type="submit"] {
    background-color: lightblue;
    margin: 10px 0;
    font-family: verdana;
}

#contactus {
    width: 400px;
}

/*..Style for branch tags ...*/

.branch dt {
    text-decoration: underline;
    font-size: 20px;
}

#Map {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

a {
    text-decoration: none;
}


@media screen and (min-width: 960px) and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "header header header header"
        "aside content content content"
        "footer footer footer footer";
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .container {
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "header header"
        "aside content"
        "footer footer";
    }
    header {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "header header header header"
        "aside aside aside aside"
        "content content content content"
        "footer footer footer footer";
    }

    footer {
        font-size: 100%;
    }

    header {
        font-size: 40px;
        height: 70px;
    }
}