#header,
#sidebar,
#main-content,
#footer {
    padding: 20px;
}

/* #container-fluid {
    background-image: url("/Users/BIgABE/Desktop/YH 2021/grupparbete1/grupparbete1/images.jpeg");
    width: 960px;
    margin: 20px auto;
} */

#header {
    font-family: 'alien-encounters', consolas, 'courier new', monospace;
    font-size: 70px;
    text-align: center;
    height: 140px;
    color: white;
    background: url(img/backgroundheader.png);
}

#content {
    margin: 10px;
    text-align: center
}

#sidebar {
    float: left;
    height: auto;
    width: auto;
    /* background-color: wheat; */
    color: black; 
    font-size: 20px;
    font-style: verdana;
}

#main-content {
    float: right;
    height: 1000px;
    width: 796px;
   
}

.gridImage{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    margin-left: 20px;

}
.shadyBusiness{  /*"bilderna för contentsidan "*/
    position: relative;
  text-align: center;
  
}
.position-text1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .shadybusiness{
    grid-area: 1/1/1/1;
    
} */

.hacking{
    text-align: center;
}
.footer {
    background-color: black;
    height: 100px;
    color: black;
}

#sidebar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

#sidebar-nav ul li a {
    padding: 8px 16px;
    display: block;
}

#sidebar-nav li a:hover {
    /* background-color: rgb(109, 109, 109); */
    text-decoration: underline;
}
/*..Style for branch tags ...*/
.branch dt{
    text-decoration: underline;
    font-size: 20px;

}
#Map{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}